@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
	--primary-color: #ff1313;
	--secondary-color: #fff;
	--font: 'Oswald', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font);
	scroll-behavior: smooth;
}
.primary-color{
	color: var(--primary-color);
}
.btn{
	font-family: var(--font);
	text-transform: uppercase;
	padding: 14px 100px;
	border: 2px solid var(--secondary-color);
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 0;
	margin-bottom: 0;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	color: var(--secondary-color);
	scroll-behavior: smooth;
}
.btn:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
	opacity: .4;
	transform: translateX(-110%);
	scroll-behavior: smooth;
}
.btn-primary{
	background: var(--primary-color);
	scroll-behavior: smooth;
}
.btn-secondary{
	background: transparent;
	scroll-behavior: smooth;
}
.btn-primary:before{
	background: #000;
	scroll-behavior: smooth;
}
.btn-secondary:before{
	background: var(--primary-color);
	scroll-behavior: smooth;
}
.btn:hover:before{
	transform: translateX(0);
	scroll-behavior: smooth;
	display: block;
}
body{
	background: #000;
	scroll-behavior: smooth;
}
header{
	position: absolute;
	width: 100%;
	scroll-behavior: smooth;
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo{
	color: var(--secondary-color);
	font-size: 40px;
	scroll-behavior: smooth;
}
.logoimg{
	margin-left: 2%;
	scroll-behavior: smooth;
	height: 80px;
}
.burger{
	float: left;
	margin-left: 0%;
	scroll-behavior: smooth;
}
.nav-menu{
	display: flex;
	align-items: center;
	scroll-behavior: smooth;
	list-style: none;
}
.nav-menu a{
	margin: 0 1.5rem;
	color: var(--secondary-color);
	scroll-behavior: smooth;
	font-weight: 500;
	font-size: 18px;
	transition: .3s;
	text-transform: uppercase;
	text-decoration: underline transparent;
}
.nav-menu a:hover{
	text-decoration-color: var(--secondary-color);
	scroll-behavior: smooth;
}
.contactBTn{
	padding: 26px 42px;
	scroll-behavior: smooth;
}
.hero-section{
	height: 100vh;
	width: 100%;
	background-image: url(/MINEGYM/img/new\ bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	scroll-behavior: smooth;
}
.hero-intro{
	position: absolute;
	top: 35%;
	left: 10%;
	scroll-behavior: smooth;
	height: 400px;
}
.hero-intro h2{
	font-size: 60px;
	font-weight: 700;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	-webkit-text-stroke: 1px #f6f7f8;
	scroll-behavior: smooth;
	-webkit-text-fill-color: transparent;
	line-height: 1.2;
}
.hero-intro h1{
	font-size: 130px;
	font-weight: 700;
	margin-bottom: 40px;
	color: var(--secondary-color);
	scroll-behavior: smooth;
	line-height: 1.2;
	text-transform: uppercase;
}
.course-sec{
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-behavior: smooth;
}
.course-sec .course-card{
	width: 50%;
	position: relative;
	scroll-behavior: smooth;
}
.course-sec .course-card img{
	width: 100%;
	scroll-behavior: smooth;
	height: 100%;
}
.course-sec .course-card .course-intro{
	position: absolute;
	top: 20%;
	scroll-behavior: smooth;
	left: 10%;
	z-index: 2;
	width: 80%;
	color: var(--secondary-color);
	text-align: center;
}
.course-intro .course-title{
	font-size: 50px;
	scroll-behavior: smooth;
	text-transform: uppercase;
	font-weight: 500;
}
.course-intro p{
	width: 70%;
	scroll-behavior: smooth;
	display: block;
	margin: 0 auto;
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 3rem;
}
#mySidenav a {
	position: absolute;
	left: -80px;
	transition: 0.3s;
	padding: 15px;
	width: 100px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 0 5px 5px 0;
 }
 
 #mySidenav a:hover {
	left: 0;
 }
 
 #home {
	top: 20px;
	background-color: #04AA6D;
 }
 
 #about {
	top: 80px;
	background-color: #2196F3;
 }
 
 #courses {
	top: 140px;
	background-color: #f44336;
 }
 
 #gallery {
	top: 200px;
	background-color: #555
 }
 #contact {
	top: 260px;
	background-color: rgb(97, 113, 222)
 }
 element.style {
	background-color: #fd3c3d;
 }
 












